@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.width {
    width: 100vw;
    height: 93vh;
}

menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(62, 62, 62);
    height: 7vh;
}

main {
    width: 100%;
    height: 100%;
}

menu img {
    width: 16rem;
}

div#menu-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

div#menu-text a {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

div.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #ffffffb5;
    border: #c5c5c5 .1rem solid;
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    gap: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

p,
h2.frame {
    padding: 1rem;
}

#introduction:hover .frame {
    opacity: 0.7;
}

.frame:hover {
    opacity: 1 !important;
    transform: scale(1.05);
}

section#introduction {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

section#introduction a {
    text-decoration: none;
}

.frame img {
    width: 20rem;
    max-height: 12rem;
    object-fit: contain;
    border-bottom: #c5c5c5 .1rem solid;
    transition: opacity 0.3s ease-in-out;
}

section#home-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    width: 100vw;
    height: 93vh;
    overflow: hidden;
}


section#home-video video {
    width: 45rem;
    height: 35rem;
    object-fit: cover;
}

section#home-video div {
    width: 45rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#solution {
    width: 100vw;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#text-solution {
    width: 100rem;
    display: flex;
    align-items: justify;
    text-align: justify;
}

div#text-solution p {
    width: 100rem;
}

form#data-user {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
}

form#data-user input {
    width: 15rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: none;
    font-size: large;
}

form#data-user label {
    font-size: larger;
}

input:focus {
    outline: none;
    border: none;
}

span#send {
    width: 15rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: large;
}

div#form-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(179, 179, 179);
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    transition: width 0.2s, height 0.2s, border-radius 0.5s ease-in-out;
}

section#contact {
    width: 100vw;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-message p {
    margin: 0;
    padding: 0;
    color: red;
    font-size: .8rem;
    font-weight: bold;
}

.error-message {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.show-error {
    opacity: 1;
    transform: translateY(0);
}

.label-input {
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
}

.success-input {
    border: 2px solid #4CAF50 !important;
    transition: border-color 0.3s ease-in-out !important;
}

.error-input {
    border: 2px solid red !important;
    transition: border-color 0.3s ease-in-out !important;
}

#show-message{
    transition: opacity 3s ease-in-out;
}

#programers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

div.card-image{
    background-color: #d7d7d7;
    border-radius: 3rem;
    width: 20rem;
    height: 18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

div.card-image img{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    border: #000000 .1rem solid;
}
table, th, td{
    border: #000000 .1rem solid;
}

td{
    padding: 0.1rem;
    width: 8rem;
}