@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h2 {
    font-size: 4rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    text-align: justify;
    font-weight: bold;
}

menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(62, 62, 62);
    height: 7vh;
}

a.logo img{
    max-width: 6.5vh;
    max-height: 6.5vh;
    object-fit: cover;
    border-radius: 20rem;
    background-color: white;
}

main {
    width: 100%;
    height: 100%;
}

menu img {
    width: 16rem;
}

div#menu-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

div#menu-text a {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a.button {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    border: 2px solid #8a8a8a;
    border-radius: 5rem;
    transition: background-color 0.3s, color 0.3s;
}

a.button:hover {
    background-color: #ccc;
    color: #fff;
}

span#saiba-mais {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

div.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #ffffffb5;
    border: #c5c5c5 .1rem solid;
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    gap: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

p,
h2.frame {
    padding: 1rem;
}

#introduction:hover .frame {
    opacity: 0.7;
}

.frame:hover {
    opacity: 1 !important;
    transform: scale(1.05);
}

section#introduction {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

section#introduction a {
    text-decoration: none;
}

.frame img {
    width: 20rem;
    max-height: 12rem;
    object-fit: contain;
    border-bottom: #c5c5c5 .1rem solid;
    transition: opacity 0.3s ease-in-out;
}

section#home-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    padding: 15rem;
    overflow: hidden;
}


section#home-video video {
    width: 45rem;
    border-radius: 3rem;
    height: 35rem;
    object-fit: cover;
}

section#home-video div {
    width: 45rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#solution-problem {
    padding: 15rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

div#text-solution-problem {
    width: 50rem;
    height: 30rem;
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

div#text-solution-problem p{
   padding-left: 0;
}

img#pc{
    width: 50rem;
    height: 30rem;
    border-radius: 3rem;
}

section.solution {
    padding: 15rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

div.text-solution {
    width: 40rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    text-align: justify;
}

div.text-solution ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.solution img {
    width: 35rem;
    height: 25rem;
    border-radius: 4rem;
    box-shadow: 0 0 .5rem #e1e1e1;
}

div#text-solution p {
    width: 100rem;
}

form#data-user {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
}

form#data-user input {
    width: 15rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: none;
    font-size: large;
    transition: transform 1s ease-in-out, border-color 2s ease-in-out;
}

form#data-user label {
    font-size: larger;
}

input:focus {
    outline: none;
    border: none;
}

span#send {
    width: 15rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: large;
}

div#form-data {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 199, 199);
    width: 60rem;
    height: 30rem;
    border-radius: 1rem;
    transition: width 0.2s, height 0.2s, border-radius 0.5s ease-in-out;
}

section#contact {
    padding: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#access {
    transition: width 0.2s, height 0.2s, border-radius 0.5s ease-in-out;
    width: 30rem;
    height: 30rem;
    background-color: rgb(219, 219, 219);
    border-radius: 1rem;
}

section#contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 25rem;
    border-radius: 3rem;
}

span.error-message p {
    margin: 0;
    padding: 0;
    color: red;
    font-size: .8rem;
    font-weight: bold;
}

span.error-message {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

span.show-error {
    opacity: 1;
    transform: translateY(0);
}

div.label-input {
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
}

input.success-input {
    border: 2px solid #4CAF50 !important;
    transition: border-color 0.3s ease-in-out !important;
}

input.error-input {
    border: 2px solid red !important;
    transition: border-color 0.3s ease-in-out !important;
}

div#show-message {
    transition: opacity 3s ease-in-out;
}

span#programers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

div.card-image {
    background-color: #d7d7d7;
    border-radius: 3rem;
    width: 22rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

div.card-image img {
    width: 12rem;
    height: 12rem;
    border-radius: 10rem;
    object-fit: cover;
    border: #000000 .1rem solid;
}

table,
th,
td {
    border: #000000 .1rem solid;
}

td {
    padding: 0.1rem;
    width: 10rem;
}

section#grafic{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

section#grafic img{
    border-radius: 4rem;
    width: 55rem;
    object-fit: contain;
    height: 30rem;
}

div#text-economic{
    width: 50rem;
    height: 30rem;
    text-align: justify;
}

div#text-economic p{
   padding-left: 0;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}